---
import Layout from "../layouts/Layout.astro";
import About from "@/sections/About.astro";
import Featured from "@/sections/Featured.astro";
import Contact from "@/sections/Contact.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Work from "@/sections/Work.astro";

export const prerender = false;
---

<Layout
  title="Lowton Advertising"
  description="Experts in mixing the rational and the emotional to offer the most innovative and imaginative solutions to help your brand grow."
>
  <main class="space-y-24">
    <Hero />
    <Work />
    <About />
    <Featured />
    <Services />
    <Testimonials />
    <Contact />
  </main>
</Layout>
