<section id="contact" class="px-8 lg:px-16">
  <div
    class="flex flex-col md:flex-row w-full md:gap-4 md:justify-between border-t border-[var(--color-primary)]"
  >
    <div
      class="md:w-1/2 flex flex-col gap-4 text-white font-medium text-sm md:text-base uppercase"
    >
      <div><span class="mr-2">•</span><span>Let's Talk</span></div>
      <div
        class="text-white font-medium text-4xl sm:text-5xl md:text-7xl uppercase"
      >
        <h3>Contact</h3>
      </div>
    </div>
    <div class="w-full flex flex-col gap-4 md:gap-16 md:w-1/2 pb-6">
      <div class="bg-transparent mt-8">
        <form action="#" method="post" class="flex flex-col gap-4 md:gap-8">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            class="w-full bg-transparent border-b border-gray-300 px-2 py-2"
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Your Email"
            class="w-full bg-transparent border-b border-gray-300 px-2 py-2"
          />
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Phone number"
            class="w-full bg-transparent border-b border-gray-300 px-2 py-2"
          />
          <textarea
            name="reason"
            id="reason"
            placeholder="Reason for contact"
            rows="1"
            class="w-full bg-transparent border-b border-gray-300 px-2 py-2"
          ></textarea>
          <button
            type="submit"
            class="group flex gap-x-3 rounded-full bg-transparent border w-fit px-6 py-3 font-base text-white"
            ><div
              class="group relative overflow-hidden xl:text-base 2xl:text-md"
            >
              <span
                class="ease-out-expo flex transition-all duration-500 group-hover:-translate-y-12"
                >Send Message</span
              ><span
                class="ease-out-expo absolute left-0 top-0 translate-y-12 transition-all duration-500 group-hover:-translate-y-0"
                >Send Message</span
              >
            </div>
            <span
              class="relative flex h-6 w-6 items-center justify-center overflow-hidden rounded-full bg-mint fill-charcoal"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                width="25"
                height="26"
                class="ease-out-expo absolute h-auto w-auto -translate-x-12 translate-y-12 transition-all duration-500 group-hover:-translate-x-0 group-hover:translate-y-0"
                ><path
                  d="M15.835 10.754v5.912c0 .22.075.405.224.555a.75.75 0 0 0 .554.223c.22 0 .406-.075.555-.224a.75.75 0 0 0 .223-.554v-7.78a.753.753 0 0 0-.224-.554.75.75 0 0 0-.554-.223H8.834a.753.753 0 0 0-.555.224.75.75 0 0 0-.223.554c0 .22.075.405.224.554a.75.75 0 0 0 .554.224h5.912l-6.923 6.923a.738.738 0 0 0-.214.545c0 .22.071.402.214.544a.738.738 0 0 0 .544.214c.22 0 .402-.071.545-.214l6.923-6.923Z"
                ></path></svg
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                fill="white"
                height="26"
                class="ease-out-expo absolute h-auto w-auto transition-all duration-500 group-hover:-translate-y-12 group-hover:translate-x-12"
                ><path
                  d="M15.835 10.754v5.912c0 .22.075.405.224.555a.75.75 0 0 0 .554.223c.22 0 .406-.075.555-.224a.75.75 0 0 0 .223-.554v-7.78a.753.753 0 0 0-.224-.554.75.75 0 0 0-.554-.223H8.834a.753.753 0 0 0-.555.224.75.75 0 0 0-.223.554c0 .22.075.405.224.554a.75.75 0 0 0 .554.224h5.912l-6.923 6.923a.738.738 0 0 0-.214.545c0 .22.071.402.214.544a.738.738 0 0 0 .544.214c.22 0 .402-.071.545-.214l6.923-6.923Z"
                ></path></svg
              >
            </span></button
          >
        </form>
      </div>
    </div>
  </div>
</section>

<style>
  #contact {
    margin: 0 !important;
  }

  #contact > div {
    padding: 3rem 0 !important;
  }
</style>
