---
import { Image } from "astro:assets";
import projectImage from "@/assets/project.webp";
---

<section id="featured" class="px-8 lg:px-16">
  <div class="flex flex-col gap-4">
    <div class="text-white font-medium text-sm md:text-base uppercase">
      <span class="mr-2">•</span>Portfolio
    </div>
    <div
      class="text-white font-medium text-4xl sm:text-5xl md:text-7xl uppercase"
    >
      <h3>Featured Works</h3>
    </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16 border-b border-[var(--color-primary)]"
  >
    <div class="col-span-1 flex flex-col gap-2">
      <div class="rounded-md">
        <Image
          src={projectImage}
          alt="work image"
          width={300}
          height={200}
          class:list={["w-full", "object-cover"]}
        />
      </div>
      <div class="flex justify-between items-center">
        <h4 class="text-base text-[var(--color-primary)]">Travel Bliss</h4>
        <a
          class="group flex gap-x-3 w-fit font-base text-xs text-[var(--color-primary)] fill-[var(--color-primary)]"
          href="#contact"
          ><div class="group relative overflow-hidden">
            <span
              class="ease-out-expo flex transition-all duration-500 group-hover:-translate-y-12"
              >View Project</span
            ><span
              class="ease-out-expo absolute left-0 top-0 translate-y-12 transition-all duration-500 group-hover:-translate-y-0"
              >View Project</span
            >
          </div>
          <span
            class="relative flex h-4 w-4 items-center justify-center overflow-hidden rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="ease-out-expo absolute h-auto w-auto -translate-x-12 translate-y-12 transition-all duration-500 group-hover:-translate-x-0 group-hover:translate-y-0"
              ><path
                d="M13.47 5.47a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 1 1-1.06-1.06l4.72-4.72H4a.75.75 0 0 1 0-1.5h14.19l-4.72-4.72a.75.75 0 0 1 0-1.06"
              ></path></svg
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="ease-out-expo absolute h-auto w-auto transition-all duration-500 group-hover:-translate-y-12 group-hover:translate-x-12"
              ><path
                d="M13.47 5.47a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 1 1-1.06-1.06l4.72-4.72H4a.75.75 0 0 1 0-1.5h14.19l-4.72-4.72a.75.75 0 0 1 0-1.06"
              ></path></svg
            >
          </span></a
        >
      </div>
      <p class="text-xs md:text-sm text-[var(--color-primary)]">
        UI / UX Design • Web Development • Graphic Design
      </p>
    </div>
    <div class="col-span-1 flex flex-col gap-2">
      <div class="rounded-md">
        <Image
          src={projectImage}
          alt="work image"
          width={300}
          height={200}
          class:list={["w-full", "object-cover"]}
        />
      </div>
      <div class="flex justify-between items-center">
        <h4 class="text-base text-[var(--color-primary)]">Culinary Craft</h4>
        <a
          class="group flex gap-x-3 w-fit font-base text-xs text-[var(--color-primary)] fill-[var(--color-primary)]"
          href="#contact"
          ><div class="group relative overflow-hidden">
            <span
              class="ease-out-expo flex transition-all duration-500 group-hover:-translate-y-12"
              >View Project</span
            ><span
              class="ease-out-expo absolute left-0 top-0 translate-y-12 transition-all duration-500 group-hover:-translate-y-0"
              >View Project</span
            >
          </div>
          <span
            class="relative flex h-4 w-4 items-center justify-center overflow-hidden rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="ease-out-expo absolute h-auto w-auto -translate-x-12 translate-y-12 transition-all duration-500 group-hover:-translate-x-0 group-hover:translate-y-0"
              ><path
                d="M13.47 5.47a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 1 1-1.06-1.06l4.72-4.72H4a.75.75 0 0 1 0-1.5h14.19l-4.72-4.72a.75.75 0 0 1 0-1.06"
              ></path></svg
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="ease-out-expo absolute h-auto w-auto transition-all duration-500 group-hover:-translate-y-12 group-hover:translate-x-12"
              ><path
                d="M13.47 5.47a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 1 1-1.06-1.06l4.72-4.72H4a.75.75 0 0 1 0-1.5h14.19l-4.72-4.72a.75.75 0 0 1 0-1.06"
              ></path></svg
            >
          </span></a
        >
      </div>
      <p class="text-xs md:text-sm text-[var(--color-primary)]">
        UI / UX Design • Web Development
      </p>
    </div>
  </div>
</section>

<style>
  #featured {
    margin-top: 3rem !important;
  }
  #featured > div:nth-child(2) {
    padding-bottom: 3rem !important;
  }
</style>
