---
import Facebook from "@/components/icons/Facebook.astro";
import Instagram from "@/components/icons/Instagram.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import X from "@/components/icons/X.astro";
---

<footer id="footer" class="px-8 lg:px-16 pb-12">
  <div
    class="flex justify-center md:justify-end py-8 border-y border-[var(--color-primary)]"
  >
    <nav>
      <ul class="flex items-center gap-6">
        <li>
          <a
            target="_blank"
            rel="noopener"
            aria-label="Twitter de Lowton"
            href="#"
            class="hover:scale-105 transform duration-300"
          >
            <X />
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            aria-label="Twitter de Lowton"
            href="#"
            class="hover:scale-105 transform duration-300"
          >
            <Facebook />
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            aria-label="Twitter de Lowton"
            href="#"
            class="hover:scale-105 transform duration-300"
          >
            <Instagram />
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            aria-label="Twitter de Lowton"
            href="#"
            class="hover:scale-105 transform duration-300"
          >
            <LinkedIn />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
