<section id="hero" class="px-8 lg:px-16">
  <div
    class="grid items-center lg:items-end lg:pb-10 mx-auto lg:grid-cols-12 grid-cols-6 select-none hh border-b border-[var(--color-primary)]"
  >
    <div class="col-span-6 lg:col-span-11">
      <h1
        class="hidden lg:flex flex-col text-[8vw] uppercase font-medium leading-tight text-white data-cursor"
      >
        <span>HI, Let's increase </span>the value of<span></span><span
          >your brand.</span
        >
      </h1>
      <h1
        class="flex lg:hidden text-[12.5vw] sm:text-[10vw] md:text-[8vw] md:max-w-3xl uppercase text-balance font-medium leading-tight text-white"
      >
        Hi, let's increase the value of your brand.
      </h1>
    </div>
  </div>

  <style>
    .hh {
      height: calc(100dvh - 70px);
    }
  </style>
</section>
