<section id="services" class="px-8 lg:px-16">
  <div class="flex flex-col gap-4">
    <div class="text-white font-medium text-sm md:text-base uppercase">
      <span class="mr-2">•</span>Services
    </div>
    <div
      class="text-white font-medium text-4xl sm:text-5xl md:text-7xl uppercase"
    >
      <h3>What We Do</h3>
    </div>
  </div>
  <div class="flex flex-col mt-16">
    <div
      class="flex flex-col gap-4 md:gap-0 w-full border-t border-[var(--color-secondary)] md:flex-row py-8 sm:py-10 md:py-16 md:items-center"
    >
      <div class="md:w-1/2">
        <h4
          class="text-2xl sm:text-3xl md:text-5xl font-medium uppercase text-white data-cursor"
        >
          UI/UX Design
        </h4>
      </div>
      <div class="flex w-full flex-col sm:flex-row md:w-1/2">
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">App Design</p>
          <p class="text-sm text-[var(--color-secondary)]">Website Design</p>
          <p class="text-sm text-[var(--color-secondary)]">
            Landing Page Design
          </p>
        </div>
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">Design Systems</p>
          <p class="text-sm text-[var(--color-secondary)]">Wireframing</p>
          <p class="text-sm text-[var(--color-secondary)]">Prototyping</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 md:gap-0 w-full border-t border-[var(--color-secondary)] md:flex-row py-8 sm:py-10 md:py-16 md:items-center"
    >
      <div class="md:w-1/2">
        <h4
          class="text-2xl sm:text-3xl md:text-5xl font-medium uppercase text-white data-cursor"
        >
          Web Development
        </h4>
      </div>
      <div class="flex w-full flex-col sm:flex-row md:w-1/2">
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">
            Framer Development
          </p>
          <p class="text-sm text-[var(--color-secondary)]">
            Webflow Development
          </p>
          <p class="text-sm text-[var(--color-secondary)]">
            Website Maintenance
          </p>
        </div>
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">
            Speed Optimization
          </p>
          <p class="text-sm text-[var(--color-secondary)]">SEO Optimization</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 md:gap-0 w-full border-t border-[var(--color-secondary)] md:flex-row py-8 sm:py-10 md:py-16 md:items-center"
    >
      <div class="md:w-1/2">
        <h4
          class="text-2xl sm:text-3xl md:text-5xl font-medium uppercase text-white data-cursor"
        >
          Branding
        </h4>
      </div>
      <div class="flex w-full flex-col sm:flex-row md:w-1/2">
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">Logo Design</p>
          <p class="text-sm text-[var(--color-secondary)]">Brand Guidlines</p>
          <p class="text-sm text-[var(--color-secondary)]">Label Design</p>
        </div>
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">Packaging Design</p>
          <p class="text-sm text-[var(--color-secondary)]">Visual Identity</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 md:gap-0 w-full border-t border-[var(--color-secondary)] md:flex-row py-8 sm:py-10 md:py-16 md:items-center"
    >
      <div class="md:w-1/2">
        <h4
          class="text-2xl sm:text-3xl md:text-5xl font-medium uppercase text-white data-cursor"
        >
          Graphic Design
        </h4>
      </div>
      <div class="flex w-full flex-col sm:flex-row md:w-1/2">
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">Illustrations</p>
          <p class="text-sm text-[var(--color-secondary)]">Animations</p>
          <p class="text-sm text-[var(--color-secondary)]">Business Cards</p>
        </div>
        <div class="flex flex-col w-full sm:w-1/2">
          <p class="text-sm text-[var(--color-secondary)]">Flyers</p>
          <p class="text-sm text-[var(--color-secondary)]">Banner Design</p>
          <p class="text-sm text-[var(--color-secondary)]">Social Media</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #services {
    margin-top: 3rem !important;
  }
  #services > div:nth-child(2) {
    padding-bottom: 3rem !important;
    border-bottom: 1px solid var(--color-primary);
  }
</style>
